<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="/css/com.css"></link>
<body>
	<div class="main-container">
		<div class="main-wrap">
			<section class="login-input-section-wrap">
				<div class="login-input-wrap">	
					<input placeholder="ID" type="text"></input>
				</div>
				<div class="login-input-wrap password-wrap">	
					<input placeholder="PW" type="password"></input>
				</div>
				<div class="login-button-wrap">
					<button>Sign in</button>
					<button>Sign up</button>
				</div>
			</section>
		</div>
	</div>
</body>
</html>