<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- <meta http-equiv="Refresh" content="5" /> -->
    <title>로그인</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<script src="/js/com.js"></script>
<body>
    <div class="container">
        <div class="form-signin">
            <h2 class="form-signin-heading">메인화면</h2>
            <div class="mb-3" id="div_option">
                <button class="w-100 btn btn-lg btn-primary" id="btnTest" type="button">테스트</button>
            </div>
        </div>
    </div>
</body>
<script>
    window.onload = function() {
        /* 컴포넌트 */
        const btnTest = document.getElementById("btnTest");
        btnTest.addEventListener("click", test);
        
        
        /* 함수 */
        function test() {
            var param = {
                "id" : "testId"
            ,   "pw" : "testPw"
            ,   "ot" : [{"sang" : "sa"}, {"nom" : "nom"}]
            };
            postRequest("/test", param, (arg) => {
                console.log(arg);
            });
        }
    }
</script>
</html>