<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>회원가입</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script src="/js/com.js"></script>
<body class="text-center">
    <form name="registerForm" class="form-signin" method="post" onsubmit="return checkAll();">
        <h1 class="h3 mb-3 fw-normal">회원가입</h1>
        <hr>
    
        <label class="form-label">이메일(아이디)</label>
        <div class="mb-3 abc">
            <input type="email" class="form-control mx-1 overlap" id="username" name="username" placeholder="이메일을 입력해 주세요">
            <input class="btn btn-outline-primary btn-sm idCheck mx-1" type="button" id="usernameOverlay" onclick="usernameCheck()" value="중복 체크"/>
            <input class="btn btn-outline-success btn-sm reType" type="button" id="resetUsername" onclick="reUsername()" disabled value="다시입력"/>
        </div>
    
        <div class="mb-3">
            <label>패스워드</label>
            <input onchange="pwSame()" type="password" class="form-control" placeholder="비밀번호를 입력해 주세요">
        </div>
    
        <div class="mb-3">
            <label for="password_check">패스워드 확인</label>
            <input onkeyup="pwSame()" type="password" class="form-control" id="password_check" name="password_check" placeholder="비밀번호를 입력해 주세요">
            <span id="pw_check_msg"></span>
        </div>
    
        <label class="form-label">이름(닉네임)</label>
        <div class="mb-3 abc">
            <input type="text" class="form-control mx-1 overlap" id="nickname" name="nickname" placeholder="닉네임을 입력해 주세요">
            <input class="btn btn-outline-primary btn-sm idCheck mx-1" type="button" id="nicknameOverlay" onclick="nicknameCheck()" value="중복 체크"/>
            <input class="btn btn-outline-success btn-sm reType" type="button" id="resetNickname" onclick="reNickname()" disabled value="다시입력"/>
        </div>
    
        <label class="mb-3 form-label" for="birth">생년월일</label>
        <div class="mb-3" id="birth" onchange="checkAge()">
            <div class="birth dropdown">
                <select class="form-control" id="year" name="year">
                    <option value="">년(YY)</option>
                </select>
            </div>
            <div class="birth mx-1 dropdown">
                <select class="form-control" id="month" name="month">
                    <option value="">월(mm)</option>
                </select>
            </div>
            <div class="birth dropdown">
                <select class="form-control" id="day" name="day">
                    <option value="">일(dd)</option>
                </select>
            </div>
            <span id="birth_check_msg"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" for="gen">성별</label>
            <div class="dropdown" id="gen">
                <select onkeyup="checkGender()" class="form-control" id="gender" name="gender">
                    <option value="">성별</option>
                </select>
            </div>
        </div>
    
        <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" id="signUp">회원가입</button>
        </div>
    
        <div class="mb-3">
            <a type="button" style="color:white" class="w-100 btn btn-lg btn-secondary" onclick="window.history.back();">취소</a>
        </div>
    </form>
    <button id="btnTest">btnTest</button>
</body>
<script>
    window.onload = function() {
        /* 컴포넌트 */
        const btnSignUp = document.getElementById("signUp");
        btnSignUp.addEventListener("click", signUp);
        
        const btnTest = document.getElementById("btnTest");
        btnTest.addEventListener("click", test);
        
        
        /* 함수 */
        function signUp() {
            var param = {
                "id" : "testId"
            ,   "pw" : "testPw"
            ,   "ot" : [{"sang" : "sa"}, {"nom" : "nom"}]
            };
            postRequest("/signUp", param, (arg) => {
                console.log(arg);
            });
        }
        
        /* 함수 */
        function test() {
            var param = {
                "id" : "testId"
            ,   "pw" : "testPw"
            };
            postAction("/test", param, (arg) => {
                console.log(arg);
            });
        }
    }
</script>
</html>